<div class="card">
  <div class="header row">
    <h2 class="col-10">Aula {{aula}} ({{alumnos.length}})</h2>
    <div class="col-2 anyadir">
      <a href="#" (click)="abrirForm($event)">
        <i class="fa fa-plus-circle"></i>
        <!--<i class="fa fa-minus-circle"></i>-->
      </a>
    </div>
  </div>
  <div class="card-body">
    <notas-lista-alumnos [alumnos]="alumnos"></notas-lista-alumnos>
  </div>
  <notas-resumen-aula [alumnos]="alumnos"></notas-resumen-aula>
</div>
