<notas-cabecera></notas-cabecera>
<main class="container">
  <!--<notas-form-alumno [aula]="formAula" [alumno]="formAlumno" *ngIf="formAbierto"
    (cerrarFormulario)="cerrarFormulario()"></notas-form-alumno>-->

  <router-outlet></router-outlet>

</main>
<notas-loading></notas-loading>
