<header class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="navbar-brand">Notas App ({{totalNotas}})</h1>
    </div>
    <nav class="nav navbar-nav navbar-right menu">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item"><a href="#" [routerLink]="['/home']" routerLinkActive="activo">Inicio</a></li>
        <li class="list-inline-item"><a href="#" [routerLink]="['/aulas']" routerLinkActive="activo">Listado de
            notas</a></li>
        <li class="list-inline-item"><a href="#" [routerLink]="['/nuevo-alumno']" routerLinkActive="activo">Nueva
            nota</a></li>
        <li class="list-inline-item"><a href="#" [routerLink]="['/estadisticas']"
            routerLinkActive="activo">Estadísticas</a></li>
      </ul>
    </nav>
  </div>
</header>
