<div class="row">
  <div class="col">
    <div class="form-anyadir card">
      <div class="row">
        <div class="col-4 offset-4">
          <h3>Aula {{aula}}</h3>
          {{alumno | json}}
          <form #formulario="ngForm" (ngSubmit)="enviarAlumno(formulario)">
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="alumno.nombre" required
                #nombre="ngModel">
              <p class="error" *ngIf="nombre.invalid && nombre.dirty">Error</p>
            </div>
            <div class="form-group">
              <label for="apellidos">Apellidos:</label>
              <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="alumno.apellido"
                required #apellidos="ngModel">
              <p class="error" *ngIf="apellidos.invalid && apellidos.dirty">Error</p>
            </div>
            <div class="form-group">
              <label for="nota">Nota:</label>
              <input type="number" class="form-control form-control-sm" name="nota" id="nota" [(ngModel)]="alumno.nota"
                required #nota="ngModel">
              <p class="error" *ngIf="nota.invalid && nota.dirty">Error</p>
            </div>
            <button class="btn btn-primary" [disabled]="formulario.invalid">{{textoBoton}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
