<div class="card-footer totales">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">Nota media</div>
        <div class="card-body numbers">{{notaMedia | number:'1.0-2'}}</div>
        <i class="fa icono-status" [ngClass]="getClasesCSS(notaMedia)"></i>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">Máxima nota</div>
        <div class="card-body numbers">{{notaMaxima | number:'1.0-2'}}</div>
        <i class="fa icono-status" [ngClass]="getClasesCSS(notaMaxima)"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">Aprobados</div>
        <div class="card-body numbers">{{aprobados.total}} ({{aprobados.porcentaje | number:'1.0-2'}}%)</div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">Suspensos</div>
        <div class="card-body numbers">{{suspensos.total}} ({{suspensos.porcentaje | number:'1.0-2'}}%)</div>
      </div>
    </div>
  </div>
</div>
